.card{
    margin-left: 20vh;
    margin-top: 10px;
    width: 90%;
    height: 100px;
    background: #212121;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    justify-content: space-between;
}

.card .cardpropic {
    width: 8vh;
    height: 8vh;
    border-radius: 50px;
}

.card .cardgraph{
    width: 15vh;
    height: 10vh;
}